<!--? ======= HEADER START ======= -->
<header class="header">
  <div class="header__top">
    <div class="container header__top-container">
      <div class="header__wrap-social">
        <a class="header__link" href="#">
          <svg class="header__social">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
        <a class="header__link" href="#">
          <svg class="header__social">
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>

        <button class="header__search js-header__search btn-reset">
          <svg class="header__search-icon">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
      </div>

      <div class="header__wrap-contact">
        <a class="header__link" href="tmail:ural-cpk@mail.ru">
          <svg class="header__social">
            <use xlink:href="img/sprite.svg#mail"></use>
          </svg>
          <span>ural-cpk@mail.ru</span>
        </a>
        <a class="header__link" href="tel:+73432014424">
          <svg class="header__social">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <span>+7 (343) 201-44-24</span>
        </a>
      </div>
    </div>
  </div>

  <div class="header__body">
    <div class="container header__body-container">
      <a class="header__wrapper-logo" href="#">
        <img class="header__image-logo" src="img/logo1.svg" loading="lazy" alt="Логотип УЦПК">
      </a>

      <menu class="header__menu js-header__menu list-reset">
        <li>
          <a href="#">
            О центре
          </a>
        </li>
        <li>
          <a href="#">
            Программы обучения
          </a>
        </li>
        <li>
          <a href="#">
            Расписание
          </a>
        </li>
        <li>
          <a href="#">
            Коллектив
          </a>
        </li>
        <li>
          <a href="#">
            Фотогалерея
          </a>
        </li>
        <li>
          <a href="#">
            Контакты
          </a>
        </li>
      </menu>
      <!--? ======= form search start ======= -->
      <label class="header__form-search js-header__form-search">
        <input class="header__form-input input-reset" type="text" placeholder="Search...">
        <button class="header__form-button btn-reset">Goo..</button>
      </label>
      <!--? ======= form search ens ======= -->
      <!--? ======= burger start ======= -->
      <button class="header__burger js-header__burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <!--? ======= burger end ======= -->

      <!-- <button class="header__search btn-reset">
        <svg class="header__search-icon">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button> -->
    </div>
  </div>
</header>
<!--? ======= HEADER AND ======= -->