<!--? ======= INDUSTRIAL-SAFETY START ======= -->
<section class="industrial-safety professions">
  <h2 hidden="hidden">Промышленная и электро-безопасность</h2>

  <div class="industrial-safety__container container">
    <h2 class="professions__title title-h2">промышленная<br> и&nbsp;электро-безопасность</h2>

    <div class="industrial-safety__cards-wrapper cards-wrapper">
      <div class="industrial-safety__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/prom/prom.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/prom/prom.jpg." alt="Промышленная безопасность">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Промышленная безопасность</h5>
          <p class="card__text">
            Выполнение
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="industrial-safety__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/prom/electrical.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/prom/electrical.jpg." alt="Электробезопасность">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Электробезопасность</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--? ======= INDUSTRIAL-SAFETY END ======= -->