<!--? ======= FOOTER START ======= -->
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__contact">
      <a class="footer__wrapper-logo" href="#">
        <img class="footer__image-logo" src="img/logo1.svg" loading="lazy" alt="Логотип УЦПК">
      </a>

      <ul class="footer__adres list-reset">
        <li class="footer__list">
          г.Екатеринбург<br>ул. Чебышева 6 оф. 319
        </li>
        <li class="footer__list">
          <span>7 (343) 201-44-24</span>
        </li>
        <li class="footer__list">
          <span>ural-cpk@mail.ru</span>
        </li>
      </ul>
    </div>

    <div class="footer__menu">
      <menu>
        <li><a href="#">О центре</a></li>
        <li><a href="#">Программы обучения</a></li>
        <li><a href="#">Расписание</a></li>
        <li><a href="#">Коллектив</a></li>
      </menu>
      <menu>
        <li><a href="#">Фотогалерея</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Вакансии</a></li>
        <li><a href="#">Новости</a></li>
      </menu>
    </div>

    <div class="footer__wrap-social">
      <div class="footer__wrap-link">
        <a class="footer__link" href="#">
          <svg class="footer__social">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
        <a class="footer__link" href="#">
          <svg class="footer__social">
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </div>

      <span>© 2024 Уральский центр подготовки кадров . All rights reserved.</span>
    </div>

    <button class="footer__button btn-reset">
      <svg class="footer__arrow-top">
        <use xlink:href="img/sprite.svg#arrow-top"></use>
      </svg>
    </button>
  </div>
</footer>
<!--? ======= FOOTER END ======= -->