<!--? ======= COLLECTIVE START ======= -->
<section class="collective">
  <h2 hidden="hidden">коллектив Уральского центра подготовки кадров</h2>

  <div class="collective__container container">
    <h2 class="collective__title title-h2">коллектив нашего центра</h2>

    <div class="collective__cards-wrapper cards-wrapper">
      <div class="collective__card card">
        <div class="collective__card-image card__image">
          <picture>
            <source srcset="img/programs/laborers500.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/programs/laborers500.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner collective__card-body-inner">
          <h5 class="card__title">ВИШНЯКОВ ДАНИЛ АЛЕКСАНДРОВИЧ</h5>
          <p class="card__text">
            И.о. начальника отдела обучения по безопасному управлению спецтехникой
          </p>

          <a class="card__button collective__card-button" href="#">
            Подробнее
            <svg class=" collective__button-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="collective__card card">
        <div class="collective__card-image card__image">
          <picture>
            <source srcset="img/programs/laborers500.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/programs/laborers500.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner collective__card-body-inner">
          <h5 class="card__title">ВИШНЯКОВ ДАНИЛ АЛЕКСАНДРОВИЧ</h5>
          <p class="card__text">
            И.о. начальника отдела обучения по безопасному управлению спецтехникой
          </p>

          <a class="card__button collective__card-button" href="#">
            Подробнее
            <svg class=" collective__button-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="collective__card card">
        <div class="collective__card-image card__image">
          <picture>
            <source srcset="img/programs/laborers500.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/programs/laborers500.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner collective__card-body-inner">
          <h5 class="card__title">ВИШНЯКОВ ДАНИЛ АЛЕКСАНДРОВИЧ</h5>
          <p class="card__text">
            И.о. начальника отдела обучения по безопасному управлению спецтехникой
          </p>

          <a class="card__button collective__card-button" href="#">
            Подробнее
            <svg class=" collective__button-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--? ======= COLLECTIVE END ======= -->