/* ? ======= CONTACTS START ======= */
.contacts {
  width: 100%;
  padding-top: clamp(40px, 33px + 1.41vw, 60px);
  background-color: var(--color-white);

  &__wrapper {
    width: 90%;
    height: 350px;
    margin: 0 auto 20px;
    padding-top: 30px;
    @include flex(center, flex-start);
    gap: 20px;
  }

  &__inner {
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 10px;
    border: 5px solid var(--color-dark-blue);

    &-flex {
      @include flex(center, flex-start);
      gap: 20px;
    }
  }

  &__address-item {
    @include flex(flex-start, center);
    gap: 20px;
    font: {
      size: clamp(16px, 14px + 0.28vw, 20px);
      weight: 700;
    }
    line-height: 1.2;
    color: var(--color-text);

    &:not(:last-child) {
      margin-bottom: clamp(10px, 3px + 1.41vw, 30px);
    }
  }

  &__address-icon {
    width: clamp(15px, 10px + 1.06vw, 30px);
    height: clamp(15px, 10px + 1.06vw, 30px);
    flex-shrink: 0;

    fill: var(--color-blue-light);
  }

  &__working-time-list {
    font: {
      size: clamp(16px, 14px + 0.28vw, 20px);
      weight: 500;
    }
    line-height: 1.2;
    color: var(--color-blue-light);
  }

  &__route-item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__working-time-item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__working-time-item:first-child {
    margin: {
      top: 0;
      bottom: clamp(10px, 6px + 0.7vw, 20px);
    }

    font: {
      size: clamp(20px, 17px + 0.7vw, 30px);
      weight: 700;
    }
    line-height: auto;
    color: var(--color-dark-blue);
  }

  &__route-item:first-child {
    margin: {
      top: 0;
      bottom: clamp(10px, 6px + 0.7vw, 20px);
    }

    font: {
      size: clamp(20px, 17px + 0.7vw, 30px);
      weight: 700;
    }
    line-height: auto;
    color: var(--color-dark-blue);
  }

  &__route-link {
    @include flex(flex-start, center);
    gap: 30px;

    font: {
      size: clamp(16px, 15px + 0.14vw, 18px);
      weight: 600;
    }
    line-height: 1.2;
    color: var(--color-green);

    & > span {
      font-size: 22px;
      color: var(--color-red);
    }
  }

  &__working-time-item,
  &__route-item {
    white-space: nowrap;
  }

  &__inner-bus {
    width: 90%;
    margin: 0 auto;
  }

  &__wrapper-bus {
    @include flex(center, flex-start);
    gap: 30px;
    flex-wrap: wrap;
  }

  &__route-bus {
    margin-bottom: clamp(10px, 6px + 0.7vw, 20px);
  }
}
/* ? ======= CONTACTS END ======= */
/* ? ======= CONTACTS MEDIA START ======= */
@media (max-width: 1489px) {
  .contacts {
    &__wrapper-bus {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 1445px) {
  .contacts {
    &__wrapper,
    &__inner-bus {
      width: 650px;
      height: auto;
      flex-direction: column;
      align-items: center;
    }

    &__route-link {
      white-space: wrap;
    }
  }
}

@media (max-width: 680px) {
  .contacts {
    &__wrapper,
    &__inner-bus {
      width: 100%;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__route-list--bus {
      margin-top: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    &__route-bus {
      align-items: self-start;
    }
  }
}

@media (max-width: 480px) {
  .contacts {
    &__address-icon {
      display: none;
    }

    &__route-link {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
  }
}
/* ? ======= CONTACTS MEDIA END ======= */
