<!--? ======= QUESTIONS START ======= -->
<section class="question">
  <h2 hidden="hidden">остались вопросы</h2>
  <div class="question__container container">
    <h2 class="question__title title-h2">остались вопросы</h2>

    <form class="question__form call-form" action="#">

      <div class="call-form__label-inner">
        <label class="call-form__label">
          <input class="call-form__input input-reset" type="text" placeholder="Имя">
        </label>

        <label class="call-form__label">
          <input class="call-form__input input-reset" type="text" placeholder="Телефон">
        </label>
      </div>

      <div class="call-form__label-button">
        <button class="call-form__button btn-reset">отправить</button>
        нажимая кнопку "Отправить", вы соглашаетесь<br> с политикой конфидециальности
      </div>
    </form>
  </div>
</section>
<!--? ======= QUESTIONS END ======= -->