/* ? ======= WORKING-PROFESSIONS START ======= */
.working-professions {
  &__title-br {
    display: none;
  }
}

@media (max-width: 980px) {
  .working-professions {
    &__title-br {
      display: block;
    }
  }
}

@media (max-width: 590px) {
  .working-professions {
    &__title {
      text-align: center;
    }
  }
}
/* ? ======= WORKING-PROFESSIONS END ======= */
/* ? ======= WORKING-PROFESSIONS MEDIA START ======= */
/* ? ======= WORKING-PROFESSIONS MEDIA END ======= */
