<!--? ======= HERO START ======= -->
<section class="hero">
  <h1 class="hero__title" hidden="hidden">НОЧУ ДПО Уральский центр подготовки кадров</h1>
  <div class="container hero__container">

    <div class="hero__sidebar">
      <h5 class="hero__title-sidebar">Наши программы</h5>
      <nav class="hero__nav">
        <menu class="hero__menu list-reset">
          <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#work1"></use>
            </svg>
            <a href="#">Рабочие профессии</a>
          </li>
          <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#manager"></use>
            </svg>
            <a href="#">Переподготовка руководителей</a>
          </li>
          <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#safety"></use>
            </svg>
            <a href="#">Охрана труда</a>
          </li>
          <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#extinguisher"></use>
            </svg>
            <a href="#">Пожарная безопасность</a>
          </li>
          <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#safety1"></use>
            </svg>
            <a href="#">Пром безопасность</a>
          </li>
          <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#fuse"></use>
            </svg>
            <a href="#">Электробезопасность</a>
          </li>
          <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#timetable"></use>
            </svg>
            <a href="#">Новости</a>
          </li>
          <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#jobs"></use>
            </svg>
            <a href="#">Наши вакансии</a>
          </li>
          <!-- <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#collective"></use>
            </svg>
            <a href="#">Наш коллектив</a>
          </li>
          <li>
            <svg class="hero__menu-icon">
              <use xlink:href="img/sprite.svg#gallery"></use>
            </svg>
            <a href="#">Фотогалерея</a>
          </li> -->
        </menu>
      </nav>
    </div>

    <div class="hero__slider">
      <section class="hero__content">
        <h2 class="hero__title-slider">Сведения об&nbsp;образовательной<br class="hero__br">
          организации</h2>
        <p class="hero__slider-text">
          НОЧУ ДПО &laquo;Уральский центр подготовки кадров&raquo; осуществляет<br class="hero__br"> образовательную
          деятельность на<br class="hero__br">
          основании лицензии &#8470;&nbsp;16692 от&nbsp;12.10.12, выданной Министерством общего
          и&nbsp;<br class="hero__br">профессионального
          образования<br class="hero__br"> Свердловской области
        </p>
        <button class="hero__button btn-reset">
          <svg class="hero__svg-phone">
            <use xlink:href="img/sprite.svg#hero-phone"></use>
          </svg>
          Заказать звонок
        </button>
      </section>

      <!-- ======= Slider main container  =======-->
      <div class="swiper hero__swiper">
        <!-- ======= Additional required wrapper  =======-->
        <div class="swiper-wrapper hero__swiper-wrapper">
          <!-- ======= Slides  =======-->
          <div class="swiper-slide">
            <div class="hero__slide">
              <picture>
                <source srcset="img/hero-slider/hero-slid1-500.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid1-900.webp" type="image/webp" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid1-1200.webp" type="image/webp" media="(max-width: 1200px)">
                <source srcset="img/hero-slider/hero-slid1-1920.webp" type="image/webp" media="(max-width: 1920px)">
                <source srcset="img/hero-slider/hero-slid1-500.jpg" type="image/jpg" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid1-900.jpg" type="image/jpg" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid1-1200.jpg" type="image/jpg" media="(max-width: 1200px)">
                <img class="hero__slide-image" style="height: 100%;" src="img/hero-slider/hero-slid1-1920.jpg"
                  alt="О УЦПК">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="hero__slide">
              <picture>
                <source srcset="img/hero-slider/hero-slid2-500.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid2-900.webp" type="image/webp" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid2-1200.webp" type="image/webp" media="(max-width: 1200px)">
                <source srcset="img/hero-slider/hero-slid2-1920.webp" type="image/webp" media="(max-width: 1920px)">
                <source srcset="img/hero-slider/hero-slid2-500.jpg" type="image/jpg" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid2-900.jpg" type="image/jpg" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid2-1200.jpg" type="image/jpg" media="(max-width: 1200px)">
                <img class="hero__slide-image" src="img/hero-slider/hero-slid2-1920.jpg" alt="О УЦПК">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="hero__slide">
              <picture>
                <source srcset="img/hero-slider/hero-slid3-500.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid3-900.webp" type="image/webp" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid3-1200.webp" type="image/webp" media="(max-width: 1200px)">
                <source srcset="img/hero-slider/hero-slid3-1920.webp" type="image/webp" media="(max-width: 1920px)">
                <source srcset="img/hero-slider/hero-slid3-500.jpg" type="image/jpg" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid3-900.jpg" type="image/jpg" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid3-1200.jpg" type="image/jpg" media="(max-width: 1200px)">
                <img class="hero__slide-image" src="img/hero-slider/hero-slid3-1920.jpg" alt="О УЦПК">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="hero__slide">
              <picture>
                <source srcset="img/hero-slider/hero-slid4-500.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid4-900.webp" type="image/webp" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid4-1200.webp" type="image/webp" media="(max-width: 1200px)">
                <source srcset="img/hero-slider/hero-slid4-1920.webp" type="image/webp" media="(max-width: 1920px)">
                <source srcset="img/hero-slider/hero-slid4-500.jpg" type="image/jpg" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid4-900.jpg" type="image/jpg" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid4-1200.jpg" type="image/jpg" media="(max-width: 1200px)">
                <img class="hero__slide-image" src="img/hero-slider/hero-slid4-1920.jpg" alt="О УЦПК">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="hero__slide">
              <picture>
                <source srcset="img/hero-slider/hero-slid5-500.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid5-900.webp" type="image/webp" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid5-1200.webp" type="image/webp" media="(max-width: 1200px)">
                <source srcset="img/hero-slider/hero-slid5-1920.webp" type="image/webp" media="(max-width: 1920px)">
                <source srcset="img/hero-slider/hero-slid5-500.jpg" type="image/jpg" media="(max-width: 500px)">
                <source srcset="img/hero-slider/hero-slid5-900.jpg" type="image/jpg" media="(max-width: 900px)">
                <source srcset="img/hero-slider/hero-slid5-1200.jpg" type="image/jpg" media="(max-width: 1200px)">
                <img class="hero__slide-image" src="img/hero-slider/hero-slid5-1920.jpg" alt="О УЦПК">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--? ======= HERO END ======= -->