<!--? ======= MANAGERS-SPECIALISTS START ======= -->
<section class="managers-specialists professions">
  <h2 hidden="hidden">Повышение квалификации и проф-переподготовка руководителей и специалистов</h2>

  <div class="managers-specialists__container container">
    <h2 class="professions__title title-h2">переподготовка <br class="managers-specialists__title-br">руководителей<br
        class="managers-specialists__title-br500">
      и&nbsp;специалистов</h2>

    <div class="managers-specialists__cards-wrapper cards-wrapper">
      <div class="managers-specialists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/managers/pedagogy.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/managers/pedagogy.jpg." alt="Образование и педагогика">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Образование и&nbsp;педагогика</h5>
          <p class="card__text">
            Выполнение
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="managers-specialists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/managers/social-work.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/managers/social-work.jpg." alt="Социальная работа">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Социальная работа</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="managers-specialists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/managers/railroad.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/managers/railroad.jpg."
              alt="Обслуживание железнодорожного транспорта">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Обслуживание железнодорожного транспорта</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="managers-specialists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/managers/audit.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/managers/audit.jpg." alt="Бухгалтерский учет и аудит">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Бухгалтерский учет и&nbsp;аудит</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="managers-specialists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/managers/safety.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/managers/safety.jpg." alt="Экологическая безопасность">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Экологическая безопасность</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="managers-specialists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/managers/directions.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/managers/directions.jpg." alt="Другие направления">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Другие направления</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--? ======= MANAGERS-SPECIALISTS END ======= -->