<!--? ======= LOADER-DRIVER3 START ======= -->
<section class="loader-driver">
  <h2 hidden="hidden">Водитель погрузчика</h2>
  <div class="loader-driver__container container">

    <div class="loader-driver__header">
      <picture class="loader-driver__image">
        <source srcset="/img/drivers-machinists/loader-driver.webp" type="image/webp">
        <img class="loader-driver__pic" loading="lazy" src="/img/drivers-machinists/loader-driver.jpg."
          alt="Водитель погрузчика">
      </picture>

      <section class="loader-driver__content">
        <h2 class="loader-driver__title title-h2">водитель погрузчика</h2>
        <span>В&nbsp;процессе обучения приобретаются необходимые знания:</span>
        <p class="loader-driver__text">
          системы смазки, питания и&nbsp;охлаждения двигателей; марки горючих и&nbsp;смазочных материалов;
          правила ведения
          и&nbsp;состав работ профилактического ремонта, виды ремонтов; порядок и&nbsp;правила составления ведомости
          на&nbsp;ремонт оборудования; способы определения и&nbsp;устранения неисправностей; правила ведения и&nbsp;виды
          ремонтов;
          слесарное дело; порядок проведения технического обслуживания, разборки и&nbsp;сборки обслуживаемых погрузчика,
          специального и&nbsp;дополнительного оборудования; устройство, технические характеристики и&nbsp;принцип
          действия
          обслуживаемого оборудования (двигателей ходовой части, приспособлений), систему управления; выполняемые
          погрузчиком виды
          работ и&nbsp;технические требования к&nbsp;их&nbsp;качеству способы погрузки и&nbsp;выгрузки грузов
          на&nbsp;все виды
          транспортных средств; виды и&nbsp;способы регулирования погрузчиком основные сведения из&nbsp;электротехники;
          режимы
          работы и&nbsp;максимальные нагрузочные режимы работы погрузчика; допустимые углы спуска и&nbsp;подъема
          погрузчика
          устройство и&nbsp;назначение погрузчиков; специальных механизмов и&nbsp;приспособлений; инструкции
          и&nbsp;правила
          по&nbsp;организации рабочего места машиниста погрузчика, производственной санитарии, электробезопасности,
          пожарной
          и&nbsp;экологической безопасности
        </p>

        <button class="loader-driver__btn btn-reset button-green">
          Отправить заявку
          <svg class="loader-driver__arrow arrow">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </section>
    </div>

    <section class="loader-driver__body">
      <span>Трудовые функции:</span>
      <p class="loader-driver__text">
        Выполнение механизированных работ с&nbsp;применением погрузчика в&nbsp;условиях ведения открытых горных работ,
        строительства, обслуживания и&nbsp;ремонта автомобильных дорог и&nbsp;других сооружений в&nbsp;соответствии
        с&nbsp;нормами и&nbsp;правилами; техническое обслуживание и&nbsp;хранение погрузчика
      </p>

      <span>Минимальные требования к образованию:</span>
      <p class="loader-driver__text">
        Среднее общее образование (11&nbsp;классов)
      </p>

      <span>Практическое обучение:</span>
      <p class="loader-driver__text">
        при необходимости предоставляется возможность прохождения практики на предприятиях города.
      </p>

      <span>Документы для поступления:</span>
      <ul>
        <li>паспорт</li>
        <li>СНИЛС</li>
        <li>документ об&nbsp;образовании</li>
        <li>фото 3х4</li>
        <li>медицинская справка (водительская) с&nbsp;отметкой&nbsp;&mdash; годен к&nbsp;управлению тракторами
          и&nbsp;другими
          самоходными машинами</li>
      </ul>
    </section>
  </div>
</section>
<!--? ======= LOADER-DRIVER3 END ======= -->