<!--? ======= SCHEDULE START ======= -->
<section class="schedule">
  <h2 hidden="hidden">Расписание Уральского Центра Подготовки Кадров</h2>
  <div class="schedule__container container">
    <h2 class="schedule__title title-h2">расписание</h2>

    <div class="schedule__subtitle">Расписание образовательных программ по&nbsp;рабочим профессиям</div>
    <ul class="schedule__list list-reset">
      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>

      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>

      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>

      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>

      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>

      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>

      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>

      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>

      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>

      <li class="schedule__item">
        <h6 class="schedule__item-title">Водитель внедорожных автотранспортных средств категории АIII
        </h6>
        <div class="schedule__item-body">
          <span class="schedule__item-body-title">
            Идет набор в группу!
          </span>
          Сдача экзамена в&nbsp;Гостехнадзоре
          Куратор обучения: Данил Александрович
          <span class="schedule__item-body-phone">
            тел: +7 000 000 00 00
          </span>
        </div>
        <button class="schedule__item-button btn-reset">записаться</button>
      </li>
    </ul>

    <button class="schedule__button btn-reset schedule__button-js">
      Показать еще
      <svg class="schedule__svg">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </button>
  </div>
</section>
<!--? ======= SCHEDULE END ======= -->