<!--? ======= WORKING-PROFESSIONS START ======= -->
<section class="working-professions professions">
  <h2 hidden="hidden">Программы обучения рабочим профессиям Уральского Центра Подготовки Кадров</h2>

  <div class="working-professions__container container">
    <h2 class="professions__title title-h2">обучение рабочим<br class="working-professions__title-br">
      профессиям</h2>

    <div class="working-professions__cards-wrapper cards-wrapper">
      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/driver.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/driver.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Водители и&nbsp;машинисты самоходной техники</h5>
          <p class="card__text">
            Курсы обучения на&nbsp;право на&nbsp;управление самоходными машинами: трактор, погрузчик, экскаватор,
            автогрейдер,
            бульдозер, каток и&nbsp;др. категорий АI, AII, AIII, AIV, В, С, D, E&nbsp;с&nbsp;получением удостоверения
            тракториста-машиниста
          </p>

          <a class="card__button" href="http://localhost:3000/drivers-machinists2.html">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/operators.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/operators.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Машиностроение &mdash;станочники, слесаря, контролеры</h5>
          <p class="card__text">
            Курсы обучения самым востребованным профессиям на&nbsp;заводах Свердловской области: токарь, фрезеровщик,
            оператор
            станков&nbsp;ПУ (ЧПУ), слесарь, наладчик, контролер станочных и&nbsp;слесарных работ и&nbsp;др.
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/welding.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/welding.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Сварочное производство</h5>
          <p class="card__text">
            Курсы обучения на&nbsp;Сварщика. Существует 19&nbsp;профессий, связанных с&nbsp;профессией сварщика:
            Электрогазосварщик,
            Сварщик ручной дуговой сварки плавящимся покрытым электродом и&nbsp;др. Из&nbsp;них только
            Электрогазосварщик получает
            Свидетельство с&nbsp;присвоением разряда. По&nbsp;остальным профессиям Уровень квалификации присваивается
            путем
            прохождения экзамена в&nbsp;Центрах оценки квалификации (ЦОК).
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/laboratorians.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/laboratorians.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Лаборанты и&nbsp;дефектоскописты</h5>
          <p class="card__text">
            Курсы обучения на&nbsp;Лаборантов различных видов анализа и&nbsp;Дефектоскопистов&nbsp;&mdash; специалистов,
            уверенно
            работающих со&nbsp;сложным оборудованием, обладающих обширными техническими знаниями, знающих стандарты,
            нормы,
            регламенты и&nbsp;различного рода документацию.
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/lifting.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/lifting.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Подъемные сооружения</h5>
          <p class="card__text">
            Курсы обучения персонала управляющего подъемными сооружениями: машинистов подъемников, крановщиков,
            операторов
            и&nbsp;персонала, обслуживающего&nbsp;ПС: стропальщиков, слесарей, электромонтеров.
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/mining.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/mining.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Горное направление</h5>
          <p class="card__text">
            Курсы обучения на&nbsp;Горные профессии, связанных с&nbsp;разработкой и&nbsp;эксплуатацией месторождений
            полезных
            ископаемых, добываемых подземным и&nbsp;открытым способом: Взрывник, Машинист буровой установки, Машинист
            конвейера,
            Дробильщик, Машинист погрузочно-доставочной машины, Машинист карьерного экскаватора с&nbsp;электрическим
            приводом ЭКГ
            типа ЭКГ-8, ЭКГ-10, ЭКГ-15 и&nbsp;др.
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/metallurgy.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/metallurgy.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Металлургическое направление</h5>
          <p class="card__text">
            Курсы обучения востребованным профессиям в&nbsp;Металлургии: литейщики, вальцовщики, машинисты оборудования
            различного
            типа, плавильщики на&nbsp;производство цветных, черных металлов, сплавов и&nbsp;другие.
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/energy.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/energy.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Направление энергетической и&nbsp;газовой отрасли</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/auto.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/auto.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Обслуживание автомобильного транспорта</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/railroad.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/railroad.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Железнодорожное направление</h5>
          <p class="card__text">
            Курсы обучения на&nbsp;востребованные профессии в&nbsp;железнодорожной отрасли: машинист тепловоза, помощник
            машиниста
            тепловоза, монтер пути, слесарь по&nbsp;ремонту подвижного состава, составитель поездов, сигналист
            и&nbsp;др.
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/others.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/others.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Другие профессии</h5>
          <p class="card__text">
            Обучение на&nbsp;профессии, востребованные на&nbsp;рынке труда не&nbsp;вошедшие в&nbsp;другие разделы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--? ======= WORKING-PROFESSIONS END ======= -->