<!--? ======= WORKING-PROFESSIONS START ======= -->
<section class="working-professions">
  <h2 hidden="hidden">Программы обучения рабочим профессиям Уральского Центра Подготовки Кадров</h2>

  <div class="working-professions__container container">
    <h2 class="working-professions__title title-h2">обучение рабочим<br class="working-professions__title-br">
      профессиям</h2>

    <div class="working-professions__cards-wrapper cards-wrapper">
      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/driver.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/driver.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Водители и&nbsp;машинисты самоходной техники</h5>
          <p class="card__text">
            Выполнение механизированных работ с&nbsp;применением погрузчика в&nbsp;условиях ведения открытых горных
            работ,
            строительства, обслуживания и&nbsp;ремонта автомобильных дорог и&nbsp;других сооружений в&nbsp;соответствии
            с&nbsp;нормами и&nbsp;правилами техническое обслуживание и&nbsp;хранение погрузчика
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/operators.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/operators.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Машиностроение &mdash;станочники, слесаря, контролеры</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/welding.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/welding.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Сварочное производство</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/laboratorians.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/laboratorians.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Лаборанты и&nbsp;дефектоскописты</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/lifting.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/lifting.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Подъемные сооружения</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/mining.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/mining.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Горное направление</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/metallurgy.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/metallurgy.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Металлургическое направление</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/energy.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/energy.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Направление энергетической и&nbsp;газовой отрасли</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/auto.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/auto.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Обслуживание автомобильного транспорта</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/railroad.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/railroad.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Железнодорожное направление</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="working-professions__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/laborers/others.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/laborers/others.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Другие профессии</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--? ======= WORKING-PROFESSIONS END ======= -->