/* ? ======= HERO START ======= */
.hero {
  &__container {
    padding: {
      top: clamp(15px, 9px + 1.6vw, 40px);
      bottom: clamp(15px, 9px + 1.6vw, 40px);
    }

    display: flex;
    justify-content: space-between;
    gap: clamp(15px, -12px + 2.72vw, 40px);
  }

  &__sidebar {
    width: fit-content;
    padding: 20px;

    background-color: var(--color-blue);
    border-radius: var(--radius20);
  }

  &__title-sidebar {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: clamp(18px, 15px + 0.34vw, 22px);
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: var(--color-text);
  }

  &__nav {
    height: 90%;
  }

  &__menu {
    min-height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    li {
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 3px;
      transition: 0.3s;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      a {
        font-size: clamp(16px, 13px + 0.34vw, 20px);
        font-weight: 500;
        line-height: 1.1;
        transition: 0.3s;
        color: var(--color-text);
      }
    }

    li:not(:last-child) {
      margin-bottom: clamp(0px, -16px + 1.63vw, 15px);
    }

    li:hover {
      transition: 0.3s;
      background-color: var(--color-white);
      a {
        transition: 0.3s;
        color: var(--color-blue-light);
      }
      .hero__menu-icon {
        transition: 0.3s;
        fill: var(--color-blue-light);
      }
    }
  }

  &__menu-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-text);
    transition: 0.3s;
    flex-shrink: 0;
  }

  &__slider {
    border-radius: var(--radius20);
    width: 1920px;
    height: clamp(400px, 348px + 14.42vw, 625px);
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      background: linear-gradient(180deg, rgba(27, 146, 255, 0), rgba(2, 157, 251, 0.39) 47%, rgb(1, 1, 1) 99%);
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    padding: clamp(20px, 16px + 0.96vw, 35px);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    position: absolute;
    z-index: 6;
    background-color: transparent;
    color: var(--color-white);
  }

  &__title-slider {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: clamp(28px, 22px + 1.67vw, 54px);
    font-weight: 700;
  }

  &__slider-text {
    margin-top: 0;
    margin-bottom: 17px;
    font-size: clamp(15px, 13px + 0.51vw, 23px);
    font-weight: 500;
  }

  &__button {
    width: clamp(300px, 268px + 6.32vw, 390px);
    height: clamp(50px, 41px + 1.75vw, 75px);
    background-color: var(--color-white);
    border-radius: var(--radius13);
    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    align-self: self-end;

    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-green-light);

    &:hover {
      transition: 0.5s;
      background-color: var(--color-blue);
      color: var(--color-white);
      .hero__svg-phone {
        fill: var(--color-white);
        transition: 0.5s;
      }
    }
  }

  &__svg-phone {
    width: 31px;
    height: 33px;
    transition: 0.5s;
    fill: var(--color-green-light);
  }

  &__swiper {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 625px;
  }
}
/* ? ======= HERO END ======= */
/* ? ======= HERO MEDIA START ======= */
@media (max-width: 1000px) {
  .hero {
    &__content {
      justify-content: space-between;
    }

    &__br {
      display: none;
    }

    &__slider {
      &::after {
        background: linear-gradient(0deg, #324054 30%, rgba(27, 146, 255, 0) 100%);
      }
    }

    &__button {
      align-self: center;
    }
  }
}

@media (max-width: 755px) {
  .hero {
    justify-content: center;
    &__sidebar {
      display: none;
    }

    &__slider {
      &:after {
        background: linear-gradient(180deg, rgba(27, 146, 255, 0) 10%, #324054 70%, #17191c 100%);
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__slider {
      width: 100%;

      &:after {
        background: linear-gradient(0deg, #324054 50%, rgba(27, 146, 255, 0) 100%);
      }
    }
  }
}
/* ? ======= HERO MEDIA END ======= */
