<!--? ------- section hero ------- -->

<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>
<h2 class="hero__hero">это страница hero</h2>


