<!--? ======= PHOTO-GALLERY START ======= -->
<section class="photo-gallery">
  <h2 hidden="hidden">Фото галерея Уральского Центра Подготовки Кадров</h2>
  <div class="container photo-gallery__container">
    <h2 class="photo-gallery__title title-h2">
      фотогалерея
    </h2>

    <div class="photo-gallery__wrapper">
      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery1-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery1.webp" type="image/webp">
          <source srcset="img/gallery/gallery1-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery1.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery1-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery1.webp" type="image/webp">
          <source srcset="img/gallery/gallery1-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery1.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery1-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery1.webp" type="image/webp">
          <source srcset="img/gallery/gallery1-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery1.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery1-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery1.webp" type="image/webp">
          <source srcset="img/gallery/gallery1-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery1.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery4-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery4.webp" type="image/webp">
          <source srcset="img/gallery/gallery4-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery4.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery4-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery4.webp" type="image/webp">
          <source srcset="img/gallery/gallery4-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery4.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery4-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery4.webp" type="image/webp">
          <source srcset="img/gallery/gallery4-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery4.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery4-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery4.webp" type="image/webp">
          <source srcset="img/gallery/gallery4-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery4.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery5-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery5.webp" type="image/webp">
          <source srcset="img/gallery/gallery5-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery5.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery5-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery5.webp" type="image/webp">
          <source srcset="img/gallery/gallery5-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery5.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery5-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery5.webp" type="image/webp">
          <source srcset="img/gallery/gallery5-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery5.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__pic-inner">
        <picture>
          <source srcset="img/gallery/gallery5-500.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/gallery/gallery5.webp" type="image/webp">
          <source srcset="img/gallery/gallery5-500.jpg" type="image/jpg" media="(max-width: 500px)">
          <img class="photo-gallery__pic" loading="lazy" src="img/gallery/gallery5.jpg"
            alt="галерея Уральского Центра Подготовки Кадров">
        </picture>
      </div>

      <div class="photo-gallery__popup">
        <span>&times;</span>
      </div>
    </div>
  </div>
</section>
<!--? ======= PHOTO-GALLERY END ======= -->