/* ? ======= PROGRAMS START ======= */
.programs {
  width: 100%;
  padding-bottom: clamp(20px, 6px + 2.82vw, 60px);

  &__card {
    background-color: var(--color-blue);
  }

  &__title {
    margin-bottom: clamp(30px, 19px + 2.11vw, 60px);
  }
}
/* ? ======= PROGRAMS END ======= */
/* ? ======= PROGRAMS MEDIA START ======= */
/* ? ======= PROGRAMS MEDIA END ======= */
