<!--? ======= VACANCIES START ======= -->
<section class="vacancies">
  <h2 hidden="hidden">Вакансии Уральского Центра Подготовки Кадров</h2>
  <div class="vacancies__container container">
    <h2 class="vacancies__title title-h2">вакансии</h2>

    <div class="vacancies__card">
      <div class="vacancies__image">
        <picture>
          <source srcset="img/sales-manager.webp" type="image/webp">
          <img class="vacancies__pic" loading="lazy" src="img/sales-manager.jpg" alt="Менеджер по продажам">
        </picture>
      </div>

      <div class="vacancies__wrapper-card">
        <div class="vacancies__card-header">
          <span class="vacancies__card-title">Менеджер по продажам</span>
          <div class="vacancies__card-price">
            <span class="vacancies__card-price--black">зарплата от /</span>
            <span class="vacancies__card-price--red">70 000 руб</span>
          </div>
        </div>

        <div class="vacancies__card-subtitle">Образовательных услуг<br> Екатеринбург</div>
        <div class="vacancies__card-body">
          <span>Опыт:</span> от 1 года Полная занятость, полный день.<br>
          <span>Образование:</span> Средне-специальное
        </div>

        <p class="vacancies__card-footer">
          Центр осуществляет деятельность в сфере дополнительного профессионального образования Центр осуществляет
          деятельность в
          сфере дополнительного профессионального образования Центр осуществляет деятельность в сфере дополнительного
          профессионального образования Центр осуществляет деятельность в сфере дополнительного профессионального
          образования
        </p>
      </div>
    </div>

    <div class="vacancies__card">
      <div class="vacancies__image">
        <picture>
          <source srcset="img/site-administrator.webp" type="image/webp">
          <img class="vacancies__pic" loading="lazy" src="img/site-administrator.jpg" alt="Менеджер по продажам">
        </picture>
      </div>

      <div class="vacancies__wrapper-card">
        <div class="vacancies__card-header">
          <span class="vacancies__card-title">Администратор сайта</span>
          <div class="vacancies__card-price">
            <span class="vacancies__card-price--black">зарплата от /</span>
            <span class="vacancies__card-price--red">80 000 руб</span>
          </div>
        </div>

        <div class="vacancies__card-subtitle">Образовательных услуг<br> Екатеринбург</div>
        <div class="vacancies__card-body">
          <span>Опыт:</span> от 1 года Полная занятость, полный день.<br>
          <span>Образование:</span> Средне-специальное
        </div>

        <p class="vacancies__card-footer">
          Центр осуществляет деятельность в сфере дополнительного профессионального образования Центр осуществляет
          деятельность в
          сфере дополнительного профессионального образования Центр осуществляет деятельность в сфере дополнительного
          профессионального образования Центр осуществляет деятельность в сфере дополнительного профессионального
          образования
        </p>
      </div>
    </div>

    <div class="vacancies__card">
      <div class="vacancies__image">
        <picture>
          <source srcset="img/office-manager.webp" type="image/webp">
          <img class="vacancies__pic" loading="lazy" src="img/office-manager.jpg" alt="Менеджер по продажам">
        </picture>
      </div>

      <div class="vacancies__wrapper-card">
        <div class="vacancies__card-header">
          <span class="vacancies__card-title">Офис менеджер</span>
          <div class="vacancies__card-price">
            <span class="vacancies__card-price--black">зарплата от /</span>
            <span class="vacancies__card-price--red">50 000 руб</span>
          </div>
        </div>

        <div class="vacancies__card-subtitle">Образовательных услуг<br> Екатеринбург</div>
        <div class="vacancies__card-body">
          <span>Опыт:</span> от 1 года Полная занятость, полный день.<br>
          <span>Образование:</span> Средне-специальное
        </div>

        <p class="vacancies__card-footer">
          Центр осуществляет деятельность в сфере дополнительного профессионального образования Центр осуществляет
          деятельность в
          сфере дополнительного профессионального образования Центр осуществляет деятельность в сфере дополнительного
          профессионального образования Центр осуществляет деятельность в сфере дополнительного профессионального
          образования
        </p>
      </div>
    </div>
  </div>
</section>
<!--? ======= VACANCIES END ======= -->