<!--? ======= OCCUPATIONAL START ======= -->
<section class="occupational professions">
  <h2 hidden="hidden">Охрана труда</h2>

  <div class="occupational__container container">
    <h2 class="professions__title title-h2">охрана труда</h2>

    <div class="occupational__cards-wrapper cards-wrapper">
      <div class="occupational__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/safety/programs1.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/safety/programs1.jpg." alt="Программы 46&nbsp;А">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Программа 46&nbsp;А</h5>
          <p class="card__text">
            Выполнение
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="occupational__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/safety/programs2.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/safety/programs2.jpg." alt="Программы 46&nbsp;Б">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Программа 46&nbsp;Б</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="occupational__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/safety/programs3.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/safety/programs3.jpg." alt="Программы 46&nbsp;В">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Программы 46&nbsp;В</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="occupational__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/safety/siz.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/safety/siz.jpg." alt="СИЗ">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">СИЗ</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="occupational__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/safety/first-aid.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/safety/first-aid.jpg." alt="Оказание первой помощи">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Оказание первой помощи</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="occupational__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/safety/technological.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/safety/technological.jpg." alt="Техносферная безопасность">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">&laquo;Техносферная безопасность. Безопасность труда&raquo; с&nbsp;присвоением
            квалификации &laquo;Специалист
            по&nbsp;охране труда&raquo;</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--? ======= OCCUPATIONAL END ======= -->