<!--? ======= ACHIEVEMENTS START ======= -->
<section class="achievements">
  <h2 hidden="hidden">Достижения Уральского центра подготовки кадров»</h2>
  <div class="achievements__container container">

    <h2 class="achievements__title title-h2">
      наши достижения
    </h2>

    <div class="achievements__slider">

      <!-- Slider main container -->
      <div class="swiper achievements__swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper achievements__swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide achievements__swiper-slide">
            <div class="achievements__slide">
              <picture>
                <source srcset="img/achievements-slider/achievements__slide500-1.webp" type="image/webp">
                <img class="achievements__image" loading="lazy"
                  src="img/achievements-slider/achievements__slide500-1.jpg"
                  alt="Награды Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="achievements__slide">
              <picture>
                <source srcset="img/achievements-slider/achievements__slide500-2.webp" type="image/webp">
                <img class="achievements__image" loading="lazy"
                  src="img/achievements-slider/achievements__slide500-2.jpg"
                  alt="Награды Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="achievements__slide">
              <picture>
                <source srcset="img/achievements-slider/achievements__slide500-3.webp" type="image/webp">
                <img class="achievements__image" loading="lazy"
                  src="img/achievements-slider/achievements__slide500-3.jpg"
                  alt="Награды Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="achievements__slide">
              <picture>
                <source srcset="img/achievements-slider/achievements__slide500-4.webp" type="image/webp">
                <img class="achievements__image" loading="lazy"
                  src="img/achievements-slider/achievements__slide500-4.jpg"
                  alt="Награды Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="achievements__slide">
              <picture>
                <source srcset="img/achievements-slider/achievements__slide500-6.webp" type="image/webp">
                <img class="achievements__image" loading="lazy"
                  src="img/achievements-slider/achievements__slide500-6.jpg"
                  alt="Награды Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="achievements__slide">
              <picture>
                <source srcset="img/achievements-slider/achievements__slide500-7.webp" type="image/webp">
                <img class="achievements__image" loading="lazy"
                  src="img/achievements-slider/achievements__slide500-7.jpg"
                  alt="Награды Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="achievements__slide">
              <picture>
                <source srcset="img/achievements-slider/achievements__slide500-8.webp" type="image/webp">
                <img class="achievements__image" loading="lazy"
                  src="img/achievements-slider/achievements__slide500-8.jpg"
                  alt="Награды Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="achievements__button-navigation">
        <div class="swiper-button-prev achievements__button-prev"></div>
        <div class="swiper-button-next achievements__button-next"></div>
      </div>
    </div>

  </div>
</section>
<!--? ======= ACHIEVEMENTS END ======= -->