<!--? ======= email-us START ======= -->
<section class="email-us">
  <div class="email-us__container container">
    <h2 class="email-us__title title-h2">
      написать нам
    </h2>

    <span class="email-us__subtitle">
      Негосударственное образовательное частное учреждение дополнительного<br class="email-us__br--none">
      профессионального образования Уральский Центр Подготовки Кадров
    </span>

    <div class="email-us__wrapper">
      <div class="email-us__map">
        <div style="position:relative;overflow:hidden;">
          <a href="https://yandex.ru/maps/54/yekaterinburg/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:0px;">Екатеринбург</a>
          <a href="https://yandex.ru/maps/54/yekaterinburg/house/ulitsa_chebyshyova_6/YkkYcARkTUUDQFtsfXR1cXViZQ==/?ll=60.634891%2C56.841045&utm_campaign=desktop&utm_medium=mapframe&utm_source=maps&z=17.01"
            style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Чебышёва, 6 — Яндекс Карты
          </a>
          <iframe
            src="https://yandex.ru/map-widget/v1/?ll=60.634891%2C56.841045&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjA4ODg3MRJv0KDQvtGB0YHQuNGPLCDQodCy0LXRgNC00LvQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0YPQu9C40YbQsCDQp9C10LHRi9GI0ZHQstCwLCA2IgoNoYlyQhUYXWNC&utm_campaign=desktop&utm_medium=search&utm_source=maps&z=17.01"
            width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;">
          </iframe>
        </div>
      </div>

      <div class="email-us__inner">
        <div class="email-us__text">Отправить заявку или задать вопрос</div>

        <form class="email-us__form" action="mail.php" method="POST">
          <label class="email-us__label">
            <input class="email-us__input input-reset" type="text" name="name" placeholder="Имя">
          </label>

          <label class="email-us__label">
            <input class="email-us__input input-reset" type="tel" name="tel" placeholder="Телефон">
          </label>

          <textarea class="email-us__textarea" name="" id="" placeholder="Текст сообщения"></textarea>

          <label class="email-us__label-check">
            <input class="email-us__input-check" type="checkbox">
            <span class="email-us__input-style"></span>
            <span>
              Нажимая кнопку «Отправить сообщение», я даю свое согласие<br class="email-us__br--none">
              на обработку моих персональных данных
            </span>
          </label>

          <input class="email-us__button btn-reset" type="submit" value="Отправить сообщение">
        </form>
      </div>
    </div>
  </div>
</section>
<!--? ======= email-us END ======= -->