<!--? ======= DRIVERS-MACHINISTS START ======= -->
<section class="drivers-machinists professions">
  <h2 hidden="hidden">Водители и машинисты самоходной техники</h2>

  <div class="drivers-machinists__container container">
    <h2 class="professions__title title-h2">Водители и&nbsp;машинисты<br class="drivers-machinists__title-br">
      самоходной техники</h2>

    <div class="drivers-machinists__cards-wrapper cards-wrapper">
      <div class="drivers-machinists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/drivers-machinists/loader.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/drivers-machinists/loader.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Водитель погрузчика</h5>
          <p class="card__text">
            Выполнение
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="drivers-machinists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/drivers-machinists/excavator.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/drivers-machinists/excavator.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Машинист экскаватора</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="drivers-machinists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/drivers-machinists/tractor.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/drivers-machinists/tractor.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Тракторист</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="drivers-machinists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/drivers-machinists/motorized.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/drivers-machinists/motorized.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Водитель внедорожных мототранспортных средств</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="drivers-machinists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/drivers-machinists/suv.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/drivers-machinists/suv.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Водитель вездехода</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="drivers-machinists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/drivers-machinists/all-terrain.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/drivers-machinists/all-terrain.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Водитель внедорожных автотранспортных средств категории АIII</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="drivers-machinists__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/drivers-machinists/grader.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/drivers-machinists/grader.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Машинист автогрейдера</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--? ======= DRIVERS-MACHINISTS END ======= -->