html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page,
.page__body {
  height: 100%;
}

.page {
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  font-family: var(--inter);
  font-size: 16px;
}

// .wrapper {
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
// }

.main {
  flex-grow: 1;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
  outline: none;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

/*? ======= style title =======  */
.title-h2 {
  margin: 0;
  width: 100%;
  background-color: var(--color-white);
  font-size: clamp(22px, 18px + 0.9vw, 36px);
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--color-dark-blue);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;

  &:after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--color-red);
  }
}

@media (max-width: 590px) {
  .title-h2 {
    justify-content: center;
    gap: 0;
    &:after {
      width: 0;
    }
  }
}

/*? ======= style btn ======= */
.button-green {
  width: clamp(325px, 310px + 4.17vw, 390px);
  height: clamp(50px, 44px + 1.6vw, 75px);
  border-radius: var(--radius13);
  background-color: var(--color-green);

  font-size: clamp(14px, 12px + 0.51vw, 22px);
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;
}

/*? ======= style arrow ======= */
.arrow {
  width: 32px;
  transform: rotate(90deg);
  fill: var(--color-white);
}

/*? ======= programs and collective card wrapper ======= */
.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}

/*? ======= programs and collective card ======= */
.card {
  min-height: 100%;
  max-width: 471px;
  width: clamp(325px, 285px + 10.9vw, 495px);
  border-radius: var(--radius20);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
    height: 270px;
  }

  &__pic {
    width: 100%;
    height: 100%;
  }

  &__body-inner {
    padding: 17px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    margin: {
      top: 0;
      bottom: 17px;
    }

    font-size: clamp(20px, 19px + 0.14vw, 22px);
    font-weight: 600;
    line-height: 120%;
    color: var(--color-dark-blue);
  }

  &__text {
    margin: {
      top: 0;
      bottom: 17px;
    }
    font-size: clamp(16px, 15px + 0.14vw, 18px);
    font-weight: 400;
    line-height: 22px;
    color: var(--color-grey1);
  }

  &__button {
    width: 100%;
    height: 75px;
    margin-top: auto;
    border-radius: var(--radius13);
    background-color: var(--color-green);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;

    font-size: clamp(16px, 15px + 0.14vw, 18px);
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-white);
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      background-color: var(--color-white);
      color: var(--color-green);
      border: 2px solid var(--color-green);

      .card__a-svg {
        transition: 0.5s;
        fill: var(--color-green);
      }
    }
  }
}
