// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
  --content-width: 1570px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-white: #fff;
  --color-grey: #b9b9b9;
  --color-grey-dark: #383c3e;
  --color-blue: #bfd8ff;
  --color-blue-light1: #9bcbff;
  --color-blue-light: #2d68fe;
  --color-dark-blue: #3968b2;
  --color-text: #324054;
  --color-green: #0d8643;
  --color-green-light: #1c8d4f;
  --color-red: #ef3e3f;
  --color-yellow: #ffcf26;
  --color-black: #000;
  --color-black-light: #1a1b1d;

  //border-radius
  --radius13: 13px;
  --radius20: 20px;
  --radius35: 35px;
}
