<!--? ======= FEEDBACK START ======= -->
<section class="feedback">
  <div class="container feedback__container">
    <h2 class="feedback__title title-h2">отзывы</h2>

    <div class="feedback__wrapper">
      <div class="feedback__card feedback__card--one">
        <picture class="feedback__card-pic">
          <source srcset="img/ava1.webp" type="image/webp">
          <img class="feedback__pic" loading="lazy" src="img/ava1.png" alt="ava">
        </picture>

        <div class="feedback__card-content">
          <div class="feedback__card-inner">
            <div class="feedback__card-name">
              Игорь К.<br>
              <span>Знаток города 3 уровня</span>
            </div>
            <div class="feedback__card-message">
              Хороший учебный центр.<br> Рекомендую.
            </div>
          </div>

          <div class="feedback__card-rating">
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            19.02.2019
          </div>
        </div>
      </div>

      <div class="feedback__card feedback__card--two">
        <picture class="feedback__card-pic">
          <source srcset="img/ava2.webp" type="image/webp">
          <img class="feedback__pic" loading="lazy" src="img/ava2.png" alt="ava">
        </picture>

        <div class="feedback__card-content">
          <div class="feedback__card-inner">
            <div class="feedback__card-name">
              ЗаЛика<br>
              <span>Знаток города 5 уровня</span>
            </div>
            <div class="feedback__card-message">
              Только плюсы,рекомендую
            </div>
          </div>

          <div class="feedback__card-rating">
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            21.09.2023
          </div>
        </div>
      </div>

      <div class="feedback__card feedback__card--three">
        <picture class="feedback__card-pic">
          <source srcset="img/ava3.webp" type="image/webp">
          <img class="feedback__pic" loading="lazy" src="img/ava3.png" alt="ava">
        </picture>

        <div class="feedback__card-content">
          <div class="feedback__card-inner">
            <div class="feedback__card-name">
              Мария С.<br>
              <span>Знаток города 6 уровня</span>
            </div>
            <div class="feedback__card-message">
              Толковые преподаватели,<br>все объясняют, много практики
            </div>
          </div>

          <div class="feedback__card-rating">
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            10.05.2024
          </div>
        </div>
      </div>

      <div class="feedback__card feedback__card--four">
        <picture class="feedback__card-pic">
          <source srcset="img/ava4.webp" type="image/webp">
          <img class="feedback__pic" loading="lazy" src="img/ava4.png" alt="ava">
        </picture>

        <div class="feedback__card-content">
          <div class="feedback__card-inner">
            <div class="feedback__card-name">
              Владимир Дэн.<br>
              <span>Мастер 6 разряда</span>
            </div>
            <div class="feedback__card-message">
              Долго искал где повысить квалификацию.<br>Друзья посоветовали. Рекомендую.
            </div>
          </div>

          <div class="feedback__card-rating">
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            07.10.2024
          </div>
        </div>
      </div>

      <div class="feedback__card feedback__card--five">
        <picture class="feedback__card-pic">
          <source srcset="img/ava5.webp" type="image/webp">
          <img class="feedback__pic" loading="lazy" src="img/ava5.png" alt="ava">
        </picture>

        <div class="feedback__card-content">
          <div class="feedback__card-inner">
            <div class="feedback__card-name">
              Добрая Фея<br>
              <span>Специалист 28 уровня</span>
            </div>
            <div class="feedback__card-message">
              Если вам нужен хороший учебный центр<br> то это как раз тут.
            </div>
          </div>

          <div class="feedback__card-rating">
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            17.07.2023
          </div>
        </div>
      </div>

      <div class="feedback__card feedback__card--six">
        <picture class="feedback__card-pic">
          <source srcset="img/ava6.webp" type="image/webp">
          <img class="feedback__pic" loading="lazy" src="img/ava6.png" alt="ava">
        </picture>

        <div class="feedback__card-content">
          <div class="feedback__card-inner">
            <div class="feedback__card-name">
              Игорь К.<br>
              <span>Знаток города 3 уровня</span>
            </div>
            <div class="feedback__card-message">
              Хороший учебный центр.<br> Рекомендую.
            </div>
          </div>

          <div class="feedback__card-rating">
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            19.02.2019
          </div>
        </div>
      </div>
    </div>

    <a href="#" class="feedback__button button-green">
      Посмотреть на яндексе
      <svg class="feedback__arrow arrow">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </a>
  </div>
</section>
<!--? ======= FEEDBACK END ======= -->