<!--? ======= PROGRAMS START ======= -->
<section class="programs">
  <h2 hidden="hidden">Программы обучения Уральского Центра Подготовки Кадров</h2>

  <div class="programs__container container">
    <h2 class="programs__title title-h2">программы обучения</h2>

    <div class="programs__cards-wrapper cards-wrapper">
      <div class="programs__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/programs/laborers500.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/programs/laborers500.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Обучение рабочим<br> профессиям</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="http://localhost:3000/page-working-professions.html">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="programs__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/programs/managers500.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/programs/managers500.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Повышение квалификации и профпереподготовка<br> руководителей и специалистов</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="programs__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/programs/labor-protection500.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/programs/labor-protection500.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Охрана труда</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="programs__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/programs/fire-safety500.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/programs/fire-safety500.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Пожарная безопасность</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="programs__card card">
        <div class="card__image">
          <picture>
            <source srcset="img/programs/electrical-safety500.webp" type="image/webp">
            <img class="card__pic" loading="lazy" src="img/programs/electrical-safety500.jpg."
              alt="Рабочие профессии Уральского Центра Подготовки Кадров">
          </picture>
        </div>

        <div class="card__body-inner">
          <h5 class="card__title">Промышленная безопасность и Электробезопасность</h5>
          <p class="card__text">
            Цель программы
          </p>

          <a class="card__button" href="#">
            Смотреть
            <svg class="card__a-svg arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--? ======= PROGRAMS END ======= -->