<!--? ======= PARTNERS START ======= -->
<section class="partners">
  <h2 hidden="hidden">Партнеры Уральского Центра Подготовки Кадров</h2>
  <div class="partners__container container">
    <h2 class="partners__title title-h2">наши партнеры</h2>

    <div class="partners__slider">
      <!-- Slider main container -->
      <div class="swiper partners__swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper partners__swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide partners__slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-1.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-1.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-2.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-2.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-3.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-3.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-4.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-4.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-5.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-5.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-6.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-6.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-7.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-7.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-8.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-8.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-9.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-9.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-10.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-10.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-11.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-11.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-12.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-12.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-13.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-13.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-14.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-14.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="partners__swiper-slide">
              <picture>
                <source srcset="img/partners-slider/logo-partners-15.webp" type="image/webp">
                <img class="partners__image" loading="lazy" src="img/partners-slider/logo-partners-15.png"
                  alt="Партнеры Уральского центра подготовки кадров">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="partners__button-navigation">
      <div class="swiper-button-prev partners__button-prev"></div>
      <div class="swiper-button-next partners__button-next"></div>
    </div>
  </div>
</section>
<!--? ======= PARTNERS END ======= -->